version: 2.1
orbs:
  # orgs contain basc recipes and reproducible actions (install node, aws, etc.)
  node: circleci/node@4.1.0
  aws-cli: circlecli/aws-cli@1.3.1
  aws-eb: circleci/aws-elastic-beanstalk@2.0.1
  # different jobs are calles later in the workflows sections
jobs:
  build:
    docker:
      # the base image can run most needed actions with orbs
      - image: "cimg/base:stable"
    steps:
      - node/install
      - checkout
      - aws-cli/setup
      - aws-eb/setup
      # install dependencies in both apps
      - run:
          name: hello
          command: |
            echo "hello-world"
      - run:
          name: fronted install
          command: |
            npm run frontend:install
      - run:
          name: backend install
          command: |
            npm run backend:install
      - run:
          name: fronted build
          command: |
            npm run frontend:build
      - run:
          name: backend build
          command: |
            npm run backend:build
      - run:
          name: deploy backend
          command: |
            npm run backend:deploy
      - run:
          name: deploy frontend
          command: |
            npm run frontend:deploy
      
